Package: com.pixelomer.codestories
Name: CodeStories
Version: 2.0.1
Architecture: iphoneos-arm
Description: Visual Studio Code story viewer for iOS
Maintainer: pixelomer
Author: pixelomer
Section: Utilities
